

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Information sur la machine {{ ansible_nodename }}</title>
    <style type="text/css">
      .styled-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }
    .styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
  </style>
  </head>
  <body>
    <!-- Ici, on placera tout le contenu à destination
    de l'utilisateur -->
    <h1> Spécification de la machine {{ ansible_nodename }} le {{ ansible_date_time.date }} {{ ansible_date_time.time }}</h1>

    <div>
      <table class="styled-table">
        <tbody>
          <tr>
            <td>Operating System</td>
            <td>{{ ansible_distribution }} {{ ansible_distribution_version }} {{ ansible_os_family }}</td>
          </tr>
          <tr>
            <td>Kernel</td>
            <td>{{ ansible_kernel_version }}</td>
          </tr>
          <tr>
            <td>Mémoire</td>
            <td>{{ ansible_memtotal_mb / 1024 }} G</td>
          </tr>
          <tr>
            <td>Processeur</td>
            <td>{{ ansible_processor }}, nb coeurs : {{ ansible_processor_cores }}</td>
          </tr>
          <tr>
            <td>Architecture</td>
            <td>{{ ansible_architecture }}</td>
          </tr>
        </tbody>
      </table>

      <p> Information sur les disques : </p>
      <table class="styled-table">
        <tbody>
      {% for line in disk_infos.stdout_lines %}
          <tr>
            {% for element in  line.split(' ') %}
              {% if element | length > 0 %}
              <td>{{ element }}</td>
              {% endif %}
            {% endfor %}
          </tr>
      {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>